{% extends "base.html" %}
{% load static %}
{% block title %}QUEST BOARD PAGE{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<center><button> <a href='{% url "quest_create" questboard.id %}'>Create Quests</a></button><button> <a href='{% url "questboard" %}'>Go back to questboards page</a></button>
{% for quest in quests %}
{% if quest.boardOrigin.boardName == questboard.boardName %}
<h2>{{ quest.questName }}</h2>
<h3>{{ quest.questDescription }}</h3>
<h4>required stars: {{ quest.numStars }}</h4>
<button> <a href='{% url "questboard_update" questboard.id %}'>Edit</a></button>
{% endif %}
{% endfor %}
{% endblock %}
